.git
.github
.secrets
.env
.env.*
!.env.example
node_modules
**/node_modules
**/build
**/dist
apps/mobile/**
!apps/mobile/package.json
apps/web/**
!apps/web/package.json
coverage
.turbo
.next
docs
infra
scripts
*.log
