.git
.github
.secrets
.env
.env.*
!.env.example
node_modules
**/node_modules
**/build
**/dist
apps/mobile/.dart_tool
apps/mobile/ios
apps/mobile/macos
apps/mobile/linux
apps/mobile/windows
apps/mobile/.idea
apps/web/.next
coverage
.turbo
.next
docs
infra
scripts
*.log
